body{
    display: flex;
    align-items: stretch;
    font-family: 'poppins';
    height: auto;
    background-color: #c0c0c0;
}


/* firts_container CSS*/
.first_Containet{
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #fff;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.second_container{
    width: 100%;
}

/* black_div CSS */

.black_div{
    display: flex;
    height: 50px;
    background-color: #1f1f1f;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px 6px 0 0;
}
.logo_div{
    display: flex;
    align-items: center;
    width: 9%;
    justify-content: space-between;
    margin-left: 25px;
}
.logo_div img{
    height: 30px;
}
.logo_div h6{
    display: flex;
    align-items: center;
    font-size: 13px;
}
.uplod_btn img{
    height: 15px;
}
.button{
    display: flex;
    align-items: center;
    width: 19%;
    justify-content: space-between;
    margin-right: 10px;
}
.btn{
    height: 25px;
    background-color: #00bdfe;
    display: flex;
    align-items: center;
    padding: 19px;
    border-radius: 5px;
}
.button a{
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}
.uplod_btn {
    display: flex;
    justify-content: space-between;
    background-color: #1a1110;
}