.mainContainet{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(234, 232, 232);
    font-family: 'poppins';
}

.secondContainer{
    padding-top: 50px;
}
/* navigation_div CSS */

.navigationDiv{
    display: flex;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #1f1f1f;
    border-radius: 5px 5px 0 0;
    align-items: center;
}

.logo_div img{
    height: 25px;
}
.button{
    margin-right: 20px;
}
.button img{
    height: 15px;
}
.navigationDiv{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.logo_div{
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: space-between;
    margin-left: 20px;
}
.logo_div span{
    font-size: 13px;
    font-weight: 600;
}
.btn{
    border-radius: 5px solid;
    background-color: aliceblue;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
}
.generate_btn{
    background-color: rgb(58, 104, 242);
}
.uplod_btn{
    background-color: rgb(63, 61, 61);
}
.uplod_btn a{
    margin-left: 3px;
}
.button a{
    color: #fff;
    text-decoration: none;
}

/* invocie CSS */

.invocie{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.trustScore{
    background-color: #fff;
}
.scoreCard{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 2px solid #e4e1e1;
    padding-bottom: 10px;
}
.trustPercentage{
    width: 45px;
    height: 45px;
    border: 5px solid yellow;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.scoreTitle{
    line-height: 0px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.scoreTitleh4{
    font-size: 15px;
    font-weight: 900;
}
.scoreTitle span{
    font-size: 11px;
    font-weight: 500;
}
.trustPercentage span{
    font-size: 13px;
    font-weight: 800;
}
hr .line1{
    border: 1px solid pink;
}


/* InvoiceDetails */


.invoiceLogoDetails{
    width: 100%;
    padding: 10px;
    display: flex;
}
.invoiceLogo, .invoiceNumber{
    width: 50%;
}
.invocieInput input{
    width: 97%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
}
.invoiceInput input{
    width: 97%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid;
}
.invoiceLogoDetails label{
    margin-bottom: 10px;
}

/* invoiceComapnySection */

.invoiceComapnySection{
    width: 100%;
    padding: 10px;
    display: flex;
}
.invoiceCompanyDetails, .invocieBillDetails{
    width: 50%;
}
.invoiceComapnyInput input, .invoiceBillInput input{
    width: 97%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid;
}
.invoiceComapnySection label{
    margin-bottom: 10px;
}

/* InvoiceDateSection */

.invocieDateSection{
    width: 100%;
    padding: 10px;
    display: flex;
}

.invocieDateIssued, .invocieDateDue{
    width: 50%
}
.invoiceDateIssuedInput input, .invoiceDateDueInput input{
    width: 97%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid;
}

.invoiceDetailsSection label{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
::placeholder {
    color: #1f1f1f;
    font-size: 11px;
    font-weight: 800;
    text-decoration: underline;
    padding-left: 25px;
  }
.invocieDateSection label{
    margin-bottom: 10px;
}


  /* addInputSection CSS */
  .inputsTitle{
    margin-top: 20px;
    margin: 10px;
    background-color: #e5e5e5;
    border-radius: 8px;
    padding: 10px;
  }

  /* Button CSS */

  .addBtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .add{
    text-decoration: none;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(58, 104, 242);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Dynamic Class Creation */

.flex{
    display: flex;
    margin-bottom: 15px;
}
.container{
    margin-top: 10px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background-color: #c0c0c0;
    color: #71606e;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.itemHeading{
    display: flex;
    width: 65%;
    justify-content: space-between;
}

.indexInput{
    display: flex;
    margin-bottom: 10px;
}
.indexInput input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
}

.removeBtn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
    margin-top: 5px;
}
.removeBtn a{
    text-decoration: none;
    color: #404040;
}

.notesDiv{
    width: 100%;
    display: flex;
}
.notesTitle{
   width: 50%;
}
.notesTitle input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid;
}
.notesTitleItem{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.subtotalTitle input{
    /* border: none; */
    margin-left: 20px;
    width: 150px;
}

.heading span{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
.notesTitle span{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
.subtotalTitleDiv span{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
    margin-right: 20px;
    text-align: right;
}

.subtotalTitleDiv input{
    /* border: none; */
    margin-left: 20px;
    width: 150px;
}

.subtotalTitle span{
    font-size: 12px;
    color: #1f1f1f;
    font-weight: 700;
}