.mainContainet{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(234, 232, 232);
    font-family: 'poppins';
}

.secondContainer{
    padding-top: 50px;
}
/* navigation_div CSS */

.navigationDiv{
    display: flex;
    height: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #1f1f1f;
    border-radius: 5px 5px 0 0;
    align-items: center;
}

.logo_div img{
    height: 25px;
}
.button{
    margin-right: 20px;
}
.button img{
    height: 15px;
}
.navigationDiv{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.logo_div{
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: space-between;
    margin-left: 20px;
}
.logo_div span{
    font-size: 13px;
    font-weight: 600;
}
.btn{
    border-radius: 5px solid;
    background-color: aliceblue;
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
}
.generate_btn{
    background-color: rgb(58, 104, 242);
}
.uplod_btn{
    background-color: rgb(63, 61, 61);
}
.uplod_btn a{
    margin-left: 3px;
}
.button a{
    color: #fff;
    text-decoration: none;
}

/* invocie CSS */

.invocie{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
}
.trustScore{
    background-color: #fff;
}
.scoreCard{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: 2px solid #e4e1e1;
    padding-bottom: 10px;
}
.trustPercentage{
    width: 45px;
    height: 45px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px;
    background: 
      radial-gradient(closest-side, white 79%, transparent 80% 100%),
      conic-gradient(rgb(255, 189, 6) 70%, #dadada 0);
}
.scoreTitle{
    line-height: 0px;
    padding-bottom: 5px;
    margin-left: 10px;
}
.scoreTitleh4{
    font-size: 15px;
    font-weight: 900;
}
.scoreTitle span{
    font-size: 11px;
    font-weight: 500;
}
.trustPercentage span{
    font-size: 13px;
    font-weight: 800;
}
hr .line1{
    border: 1px solid pink;
}


/* InvoiceDetails */


.invoiceLogoDetails{
    width: 100%;
    padding: 10px;
    display: flex;
}
.invoiceLogo, .invoiceNumber{
    width: 50%;
}
.invocieInput button{
    width: 97%;
    height: 50px;
    border-radius: 8px;
    border: 1px solid #c0c0c0;
    text-align: start;
    display: flex;
    padding: 10px;
    background-color: #fff;
    align-items: center;
}
.upload{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.upload a{
    font-size: 13px;
    color: #1f1f1f;
    font-weight: 600;
}
.upload span{
    font-size: 10px;
    color: #6c6c6c;
    font-weight: 400;
}

.invocieInput img{
    height: 15px;
}
.invocieInput p{
    font-size: 11px;
    color: #c0c0c0;
}
.invoiceInput input{
    width: 97%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #c0c0c0;
}
.invoiceLogoDetails label{
    margin-bottom: 10px;
}

/* invoiceComapnySection */

.invoiceComapnySection{
    width: 100%;
    padding: 10px;
    display: flex;
}
.invoiceCompanyDetails, .invocieBillDetails{
    width: 50%;
}

.invoiceComapnySection label{
    margin-bottom: 10px;
}

/* InvoiceDateSection */
/* .fristTwoInputs{
    display: flex;
    width: 75%;
    justify-content: space-between;
} */
.invocieDateSection{
    width: 100%;
    padding: 10px;
    display: flex;
}

.invocieDateIssued, .invocieDateDue{
    width: 50%
}
.invoiceDateIssuedInput input, .invoiceDateDueInput input{
    width: 97%;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #c0c0c0;
    padding: 10px;
}
.invocieDateSection input, input::placeholder{
    font-size: 11px;
    font-weight: 600;
}
.invoiceDetailsSection label{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
::placeholder {
    color: #1f1f1f;
    font-size: 11px;
    font-weight: 800;
    text-decoration: underline;
    padding-left: 25px;
  }
.invocieDateSection label{
    margin-bottom: 10px;
}


  /* addInputSection CSS */
  .inputsTitle{
    margin-top: 20px;
    margin: 10px;
    background-color: #e5e5e5;
    border-radius: 8px;
    padding: 10px;
  }

  /* Button CSS */

  .addBtn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .add{
    text-decoration: none;
    display: flex;
    width: 30px;
    height: 30px;
    background-color: rgb(58, 104, 242);
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/* Dynamic Class Creation */

.container{
    margin-top: 10px;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background-color: #c0c0c0;
    color: #71606e;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 15px;
}
/* .itemHeading{
    display: flex;
    width: 65%;
    justify-content: space-between;
} */

.justify-center-div-element{
    display: flex;
    justify-content: center;
}

.indexInput{
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    gap: 7px;
}
.indexInput input{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.removeBtn{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c0c0c0;
    margin-top: 5px;
}
.removeBtn a{
    text-decoration: none;
    color: #404040;
}

.notesDiv{
    width: 100%;
    display: flex;
}
.notesTitle{
   width: 50%;
}
.notesTitle textarea{
    width: 97%;
    margin: 0;
    padding: 8px;
    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
}
.notesTitleItem{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.subtotalTitle input{
    /* border: none; */
    margin-left: 20px;
    width: 150px;
}

.heading span{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
.notesTitle span{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
}
.subtotalTitleDiv .titleItems, .subtotalItme{
    font-size: 11px;
    color: #c0c0c0;
    font-weight: 500;
    text-align: right;
    display: flex;
    align-items: center;
}

.subtotal-span-width-height{
    margin-left: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    padding: 5px;
    color: #1f1f1f;
}
.subtotalTitle input{
    border: none;
}

.subtotalTitle span{
    font-size: 12px;
    color: #1f1f1f;
    font-weight: 700;
}

.justify-end-div-element {
    display: flex;
    justify-content: end;
    padding: 4px;
}

.invoiceComapnySection textarea {
    width: 97%;
    margin:0;
    padding:8px;
    box-shadow:none;
    border-radius: 10px;
    border: 1px solid #c0c0c0;
}

.indexInput h4{
    justify-content: center;
    width: 18px;
    height: 18px;
    font-size: 15px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    color: #c0c0c0;
    margin-top: 10px;

}
.blank-div{
    width: 20px;
    height: 5px;
}

#blank-div > h4{
    cursor: pointer;
}